<div class="row mt-3">
  <div class="col">
    <form>
      <!-- Segundo formulario -->
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com" />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea2" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
