{% comment %}Plantilla con elementos estaticos{% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/jpg" href="{% static 'assets/imgs/icon.jpg' %}" />

    <title>
      {% block title_app %}
        {% comment %}Titulos{% endcomment %}
      {% endblock %}
    </title>

    {% comment %}Estilos{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />

    {% block styles_app %}
      {% comment %}Estilos{% endcomment %}
    {% endblock %}

    {% comment %}Estlos de boostrap{% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  </head>
  <body>
    {% comment %}#SECTION - BARRA SUPERIOR{% endcomment %}
    {% include 'layout/partials/menu.html' %}

    {% comment %}#SECTION - CONTENIDO{% endcomment %}
    <main>
      {% block main_app %}
        {% comment %}Contenido de la app{% endcomment %}
      {% endblock %}
    </main>

    {% comment %}#SECTION - PIE DE PAGINA{% endcomment %}
    {% include 'layout/partials/footer.html' %}

    {% block scrips_app %}
      {% comment %}Scrips{% endcomment %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
