{% comment %}Plantilla con elementos estaticos{% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/jpg" href="{% static 'assets/imgs/icon.jpg' %}" />

    <title>
      {% block title_app %}
        {% comment %}Titulos{% endcomment %}
      {% endblock %}
    </title>

    {% comment %}Estilos{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />

    {% block styles_app %}
      {% comment %}Estilos{% endcomment %}
    {% endblock %}
  </head>
  <body>
    {% comment %}#SECTION - BARRA SUPERIOR{% endcomment %}
    {% include 'layout/partials/menu.html' %}

    {% comment %}#SECTION - CONTENIDO{% endcomment %}
    <main>
      {% block main_app %}
        {% comment %}Contenido de la app{% endcomment %}
      {% endblock %}
    </main>

    {% comment %}#SECTION - PIE DE PAGINA{% endcomment %}
    {% include 'layout/partials/footer.html' %}

    {% block scrips_app %}
      {% comment %}Scrips{% endcomment %}
    {% endblock %}
  </body>
</html>
